html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
a{
    size: 4em;
}
#heading1 {
    color: blue;
}
.button1 {
    background-color: #4CAF50;
    /* Green */
    
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
}
.button2 {
    background-color: #4CAF50;
    /* Red */
    
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
}
.button1 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}
.button1:hover {
    background-color: #7FFFD4
}
.button2 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}
.button2:hover {
    background-color: #FFA07A
}